html 
{ 
    height: 100%; 
}
p
{
    max-width:800px;
} 

body
{
    font-family: "Elephant";
    font-size: 14px;
    background-color: #80c3cf;
    color: orange;
    background-image: url('../images/header.gif');
    background-size: 100%;
    position: relative;
}

.result
{
    width: 960px;
    height: 100%;
}

.floatright
{
    position: absolute;
    left:auto;
    padding: 20px;
    top:160px;
    min-width: 100px;
    background-color: #fffefe;
    border-radius: 16px; 
    -moz-border-radius: 16px; 
    -webkit-border-radius: 16px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}
.barmenu {
    position: absolute;
    top:150px;
    height: 50px;
    min-width: 960px;
    background-color: #fffefe;
    border-radius: 16px; 
    -moz-border-radius: 16px; 
    -webkit-border-radius: 16px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.divmenu
{
    padding-top: 20px;
    top: 100px;
    position: absolute;
    font-size: 12px;
    
}
.loggedin{
    top: 100px;
    right: 0;
    position: absolute;
    min-width: 200px;
    border-radius: 16px; 
    -moz-border-radius: 16px; 
    -webkit-border-radius: 16px;
    border: 1px solid orange; 
    padding: 10px 15px 30px 15px;
    text-align: center;
}

.login{
    padding-top: 20px; 
    margin-left: 15px;
    right: 0;
    text-align: right;
    color: #41afc1;
    float: right;
    padding-top: 20px;
    position: absolute;
    font-size: 12px;
}
.headerimage {
    float: left;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
    
  }

table.center {
    border-radius: 16px; 
    -moz-border-radius: 16px; 
    -webkit-border-radius: 16px;
    border: 1px solid orange; 
    padding: 20px;
    margin-bottom:20px;
}
label {
	width: 10em;
	float: left;
	margin-right: 0.5em;
	display: block
}
legend {
    color: #fff;
    background: #80D3E2;
    border: 1px solid #781351;
    padding: 2px 6px
}

.rotate {
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);
}

.mainbody{
    padding: 20px;
    position: absolute;
    top:150px;
    min-height: 250px;
    min-width: 960px;
    background-color: #fffefe;
    border-radius: 16px; 
    -moz-border-radius: 16px; 
    -webkit-border-radius: 16px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.wrapper{  
   position:relative;
   width:960px;
   margin: 0 auto;  
   text-align:left;
   border: 2px;
   border-color: white;
} 

#menu li {
    list-style: none;
    padding: 0;
    float:left;
}

/* Header menu */
#menu li a {
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    color: #41afc1;
    margin-left: 1px;
    border-radius: 6px 6px 0px 0px; 
    -moz-border-radius: 6px 6px 0px 0px; 
    -webkit-border-radius: 6px 6px 0px 0px;  
    /* This is the background used for the animation */
    background-image: url('../images/menu.jpg');
    /* Align the background image position to the left of the link */
    background-position: left;
    -webkit-transition: all 0.8s ease-in-out;
    /* Animation with transition in Firefox (No supported Yet) */
    -moz-transition: all 0.8s ease-in-out;
    /* Animation with transition in Opera (No supported Yet)*/
    -o-transition: all 0.8s ease-in-out;
}
#menu li a:hover {
    padding: 15px 25px 20px 25px;
    /* Align the background image position of the background to the right*/
    background-position:right;
}
#menu li.active a {
    padding: 15px 25px 20px 25px;
    /* Align the background image position of the background to the right*/
    background-position:right;
}

/* Buttons */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*border:1px solid orange;*/
	display:inline-block;
	color:#41afc1;
        font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

/* Datepicker */

.ui-datepicker {
	width: auto;
	height: auto;
	margin: 5px auto 0;
        background-image: url('../images/header.gif');
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
.ui-datepicker a {
	text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}
.ui-datepicker-header {
        color: white;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
	line-height: 30px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #111;
}

.ui-datepicker thead {  
    background-color: #f7f7f7;  
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));  
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );  
    border-bottom: 1px solid #bbb;  
}  
.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker th {  
    text-transform: uppercase;  
    font-size: 6pt;  
    padding: 5px 0;  
    color: #666666;  
    text-shadow: 1px 0px 0px #fff;  
    filter: dropshadow(color=#fff, offx=1, offy=0);  
}  
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
	background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
	border-bottom: 1px solid #bbb;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: #666666;
	text-shadow: 1px 1px 0px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
	background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
	background: linear-gradient(top,  #ededed 0%,#dedede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
	-webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	-moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
	box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #6eafbf;
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
	color: #e0e0e0;
	text-shadow: 0px 1px 0px #4d7a85;
	filter: dropshadow(color=#4d7a85, offx=0, offy=1);
	border: 1px solid #55838f;
	position: relative;
	margin: -1px;
}
.ui-datepicker-unselectable .ui-state-default {
	background: #f4f4f4;
	color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}

/* Slider */

.slider{
	display:none;
}
.collapseSlider{
	display:none;
}
.sliderExpanded .collapseSlider{
	display:block;
}
.sliderExpanded .expandSlider{
	display:none;
}

/* Tables */

table.default-table caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

table.default-table th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #41afc1;;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
}

table.default-table th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

table.default-table td {
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #41afc1;
        text-align: center;
}


table.default-table td.alt {
	background: #F5FAFA;
	color: #41afc1;
}

table.default-table th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

table.default-table th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #41afc1;
}

table.nogrid-table caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

table.nogrid-table th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #41afc1;;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(../images/bg_header.jpg) no-repeat;
}

table.nogrid-table th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

table.nogrid-table td {
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #41afc1;
        text-align: center;
}


table.nogrid-table td.alt {
	background: #F5FAFA;
	color: #41afc1;
}

table.nogrid-table th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

table.nogrid-table th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #41afc1;
}

/* Tooltip */
a.tooltip {
  position: relative;
  display: inline;
}
a.tooltip span {
  height: 30px;
  width: 130px;
  position: absolute;
  color: #41AFC1;
  background: #FFFFFF;
  border: 2px solid #41afc1;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltip span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #41afc1;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltip span {
  visibility: visible;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

a img {
    border: 0;
}

/******* FORM *******/
.default_form{
	padding: 0 10px 10px;
}
.default_form label{
	display: block;
	color: #797979;
	font-weight: 700;
	line-height: 1.4em;
}
.default_form input{
	width: 220px;
	padding: 6px;
	color: #949494;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #cecece;
}
.default_form input.error{
	background: #f8dbdb;
	border-color: #e77776;
}
.default_form textarea{
	width: 550px;
	height: 80px;
	padding: 6px;
	color: #adaeae;
	font-family: Arial,  Verdana, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	border: 1px solid #cecece;
}
.default_form textarea.error{
	background: #f8dbdb;
	border-color: #e77776;
}
.default_form div{
	margin-bottom: 15px;
}
.default_form span{
	margin-left: 10px;
	color: #b1b1b1;
	font-size: 11px;
	font-style: italic;
}
.default_form span.error{
	color: #e46c6e;
}
.default_form #send{
	background: #6f9ff1;
	color: #fff;
	font-weight: 700;
	font-style: normal;
	border: 0;
	cursor: pointer;
}
.default_form #send:hover{
	background: #79a7f1;
}
#error{
	margin-bottom: 20px;
	border: 1px solid #efefef;
}
#error ul{
	list-style: square;
	padding: 5px;
	font-size: 11px;
}
#error ul li{
	list-style-position: inside;
	line-height: 1.6em;
}
#error ul li strong{
	color: #e46c6d;
}
#error.valid ul li strong{
	color: #93d72e;
}


