<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context       http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/security      http://www.springframework.org/schema/security/spring-security.xsd
                            http://www.springframework.org/schema/mvc           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven/>
    <sec:global-method-security pre-post-annotations="enabled"/>
    <context:component-scan base-package="be.spring.app.validators"/>
    <context:component-scan base-package="be.spring.app.controller"/>
    <context:component-scan base-package="be.spring.app.dto.helper"/>

    <mvc:interceptors>
        <bean class="be.spring.app.handler.PropertiesAddingHandlerInterceptor">
            <constructor-arg value="${baseUrl}"/>
        </bean>
    </mvc:interceptors>

    <!--Enables JSON integration-->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="mediaTypes">
            <map>
                <entry key="html" value="text/html"/>
                <entry key="json" value="application/json"/>
            </map>
        </property>
    </bean>

    <!--
    This bean manages the connection flow between the account provider and
    the application.
    -->
    <bean id="connectController" class="org.springframework.social.connect.web.ConnectController"
          autowire="constructor">
        <property name="connectInterceptors">
            <list>
                <bean class="be.spring.app.interceptors.SetAccountSocialProviderAfterConnectInterceptor" />
            </list>
        </property>
        <property name="disconnectInterceptors">
            <list>
                <bean class="be.spring.app.interceptors.RemoveAccountSocialProviderAfterDisconnectInterceptor" />
            </list>
        </property>
    </bean>

    <bean class="be.spring.app.config.SwaggerConfig"/>

</beans>
